body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div.bloco {
    background-color: rgb(124, 124, 255);
    width: 250px;
    height: 250px;
    font-size: 2em;
    border: 1px solid #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px #00000080, 2px 2px 4px #ffffff80;
}

.bloco::after {
    content: "✅";
}

.bloco::before {
    content: "⭕";
}