@media screen and (max-width: 660px) {
    section#ficha {
        flex-flow: column nowrap;
    }

    div#detalhes {
        margin: -25px 0px 0px 5px;
        justify-self: center;
    }

    div#social {
        margin-top: 20px;
    }
}

@media screen and (min-width: 800px) {
    header>#logo {
        margin-left: 20px;
        transition: var(--transition-padrao);
    }

    nav#menu ul{
        margin-right: 20px;
        transition: var(--transition-padrao);
    }

    div#perfio>img {
        width: 220px;
        height: 220px;
        transition: var(--transition-padrao);
    }

    div#perfio>h1 {
        font-size: 30px;
        transition: var(--transition-padrao);
    }

    div#detalhes {
        font-size: 19px;
        transition: var(--transition-padrao);
    }
}

@media screen and (min-width: 1000px) {
    nav#menu ul {
        margin-right: 50px;
    }

    header>#logo {
        margin-left: 50px;
    }

    div#perfio>img {
        width: 240px;
        height: 240px;
    }

    div#perfio>h1{
        font-size: 40px;
    }

    div#detalhes {
        font-size: 21px;
    }
}