@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal:  #1b1b1b;
  --texto: #f5f5f5;
  --texto-inverso: #111111;
  --destaque: #ffffff;
  --destaque-inverso: #000000;
  --fundo-card: #1a1a1a;
  --azul-tema: #1e90ff;
  --fonte-logo: "Russo One", sans-serif;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background: linear-gradient(to right, #111111, #000000);
  color: var(--texto);
  height: 70px;
  padding: 23px;
  user-select: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header>#logo {
  background: linear-gradient(90deg, #1872cc, #135597);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--fonte-logo);
  font-size: 2em;
  justify-content: flex-start;
}

header>#logo:hover {
  text-shadow: 0px 0px 5px #1e8fff2a;
  background: linear-gradient(90deg, #1e90ff, #13579b);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav#menu ul{
  list-style: none;
  justify-content: flex-end;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

#menu>ul>li>a {
  text-decoration: none;
  color: var(--texto);
  padding: 20px 15px 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#menu>ul>li>a:hover {
  background-color: #ffffffea;
  color: var(--texto-inverso);
}

main {
  height: 80vh;
  padding: 20px;
  display: grid;
  grid-template: auto / auto;
  place-items: center;
  transition: all 0.5s ease;
}

div#perfio>img {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(0, 0, 0, 0.507);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
  border-radius: 50%;
  user-select: none;
}

div#perfio>h1 {
  background: linear-gradient(90deg, #1872cc, #135597);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--fonte-logo);
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.0;
  cursor: pointer;
  transition: all 0.3s ease;
}

div#perfio>h1:hover {
  text-shadow: 0px 0px 5px #1e8fff2a;
  background: linear-gradient(90deg, #1e90ff, #13579b);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div#perfio {
  margin-left: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; 
  align-items: center
}


div#detalhes {
  background: linear-gradient(to right, rgb(20, 20, 20), var(--fundo-principal));
  position: relative;
  padding: 10px 0px 10px 15px;
  margin-right: 50px;
  max-width: 600px;
}

div#detalhes::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;      
  height: 100%;
  background: linear-gradient(to bottom, #1872cc, #135597);
  border-radius: 2px 0px 0px 2px;  
}

section#ficha {
  gap: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; 
  align-items: center
}

div#social {
  text-align: center;
  font-size: 50px;
  user-select: none;
}

a:hover {
  transform: scale(1.1);
}

div#social>a {
  cursor: pointer;
  color: white;
  user-select: none;
}

div#social>a:hover {
  color: #1872cc;
  text-shadow: 1px 1px 3px #1872cc73;
  transition: all 0.3s ease;
}

footer {
  background: linear-gradient(to right, #111111, #000000);
  color: var(--texto);
  width: 100vw;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 17px;
}