<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/style.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Layout</h1>
        </div>

        <nav>
            <ul>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="circulos">
            <div class="circulo"></div>
            <div class="circulo"></div>
            <div class="circulo"></div>
        </div>
        <div class="conteudo">
            <section class="introducao">
                <div class="sobre">
                    <h1> ipsum dolor sit amet consectetur.</h1>
                    <p>
                         ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit similique qui cum praesentium officia rem corrupti aperiam neque id, autem deserunt, amet aut ullam alias, doque accusamus harum at blanditiis?
                    </p>
                </div>
                <div class="container-img">
                    <img src="img/teste.png" alt="Teste">
                </div>
            </section>
            <section class="carrossel">
                <div class="projetos">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <div class="indicadores">
                    <div class="pontos">
                        <div class="ponto"></div>
                        <div class="ponto"></div>
                        <div class="ponto"></div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="scripts/carrossel.js"></script>
</body>
</html>