@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&display=swap");

:root {
  /* cores */
  --azul-principal: #2174ee;
  --cinza-media: #3a3e44;
  --azul-roxo: #3c3cc3;
  --branco-suave: #F2F2F2;
  --verde-claro: #6B8E23;
  --verde-medio: #5A7A29;
  --verde-escuro: #10160a;
  --verde-quase-preto: #0a0e06;
  --bege-areia: #c2b798;
  --marrom: #584732;
  --cinza-escuro: #2e3033;
  --quase-preto: #1E1E1E;

  /* extras */
  --width-padrao: 1200px;
  --transition-transform: transform 0.2s ease;
  --transition-base: all 0.3s ease;
}

* {
  transition: all 0.3 linear;
}

html, body {
  background: var(--verde-escuro);
}

.hr {
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
  
}

.hero-img {
  width: 100%;
  height: 50vh;
  background: url("../assets/img/hero-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.hero-content {
  max-width: var(--width-padrao);
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 30%;
  color: var(--branco-suave);
  transition: all 0.1s ease;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.26);
}

.hero-content p {
  font-size: 1.4rem;
}

.alert {
  width: 100%;
}

.alert-content {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 56, 56));
  border-top: 1px solid rgba(20, 0, 0, 0.6);
  border-bottom: 1px solid rgba(20, 0, 0, 0.6);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  font-size: 1.4rem;
  color: var(--branco-suave);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 100;
}

.alert-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.countdown {
  display: flex;
  gap: 5px;
}

.countdown .numbers {
  font-weight: 600;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

main hr {
  background-color: rgba(255, 255, 255, 0.0);
  height: 1px;
  width: 100%;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.products-promotion-container {
  margin: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.products-promotion {
  background-color: white;
  padding: 1rem;
  width: 19rem;
  height: 20rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 32px -2px rgba(0,0,0,0.21);
  -webkit-box-shadow: 10px 10px 32px -2px rgba(0,0,0,0.21);
  -moz-box-shadow: 10px 10px 32px -2px rgba(0,0,0,0.21);
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  transition: var(--transition-base);
}

.pruduto001 {
  margin: 0;
}

.product-img {
  background-color: gray;
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  box-shadow: 10px 10px 32px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 10px 10px 32px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 32px -2px rgba(0,0,0,0.2);
}

.img001 {
  background-color: 0;
}

.product-description {
  position: relative;
  width: 100%;
  height: 30%;
  padding-left: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.product-price {
  font-size: 2rem;

  display: flex;
  flex-flow: column nowrap;
}

.old-price {
  font-size: 1rem;
}

.des {  
  position: absolute;
  top: 50%;
  left: 88%;
  width: 10rem;
  font-size: 1.5rem;
  color: #4cbb40;
  transform: translate(-50%, -50%);
}