@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sedgwick+Ave&display=swap");

:root {
  /* cores */
  --azul-principal: #2174ee;
  --cinza-media: #3a3e44;
  --azul-roxo: #3c3cc3;
  --branco-suave: #F2F2F2;
  --verda-claro: #6B8E23;
  --verde-medio: #5A7A29;
  --verde-escuro: #10160a;
  --verde-quase-preto: #0a0e06;
  --bege-areia: #c2b798;
  --marrom: #584732;
  --cinza-escuro: #2e3033;
  --quase-preto: #1E1E1E;

  /* extras */
  --width-padrao: 1200px;
  --transition-transform: transform 0.2s ease;
  --transition-base: all 0.3s ease;
}

* {
  transition: all 0.3 linear;
}

html, body {
  background: var(--verde-quase-preto);
}

header {
  position: fixed;
  width: 100%;
  color: var(--branco-suave);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.6rem !important;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(23px);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.header-content {
  max-width: var(--width-padrao);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  background: linear-gradient(to bottom, var(--branco-suave), #a1a5ad);
  background-clip: text;
  background-size: 100% 200%;
  cursor: pointer;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Sedgwick Ave", cursive;
  color: transparent;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.26);
  user-select: none;
  transform: translateY(4px);
  transition: background-position 0.4s ease;
}

.logo:hover {
  background-position: 0 100%;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

nav ul li {
  position: relative;

  cursor: pointer;
}

nav ul li::before {
  content: "";
  position: absolute;
  background: var(--branco-suave);
  width: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 2px;
  margin-top: 2px;
  border-radius: 0.5rem;
  transform: translateX(-50%);
  transition: var(--transition-base);
}

nav ul li:hover::before {
  width: 100%;
}

.container-login {
  width: 15rem;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;
}

.btn-login {
  background: rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.192);
  user-select: none;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background: hsla(80, 60%, 35%, 0.4);
}

.btn-signup {
  position: relative;
  height: 100%;
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  transition: var(--transition-base);
}

.btn-signup::before {
  content: '';
  position: absolute;
  background: var(--branco-suave);
  width: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 2px;
  margin-top: 3px;
  border-radius: 5px;
  transform: translateX(-50%);
  transition: var(--transition-base);
}

.btn-signup:hover::before {
  width: 78%;
}

.hero-img {
  width: 100%;
  height: 50vh;
  background: url("../assets/img/hero-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.hero-content {
  max-width: var(--width-padrao);
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 30%;
  color: var(--branco-suave);
  transition: all 0.1s ease;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.26);
}

.hero-content p {
  font-size: 1.4rem;
}

.alert {
  width: 100%;
}

.alert-content {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 56, 56));
  border-top: 1px solid rgba(20, 0, 0, 0.6);
  border-bottom: 1px solid rgba(20, 0, 0, 0.6);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  font-size: 1.4rem;
  color: var(--branco-suave);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 100;
}

.alert-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.countdown {
  display: flex;
  gap: 5px;
}

.countdown .numbers {
  font-weight: 600;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

main hr {
  background-color: rgba(255, 255, 255, 0.0);
  height: 1px;
  width: 100%;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.products-promotion-container {
  background-color: ;
  margin: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.products-promotion {
  background-color: gray;
  height: 15rem;
  width: 19rem;
  border-radius: 1rem;
  transition: var(--transition-base);
}

.products-promotion:hover {
  transform: scale(1.05);
}